<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Users List</h1>
    <a href="/add-user">Add User</a>
    <th:block th:each="user : ${users}">
        <h3 th:text="${user.id} + '- ' + ${user.pseudo}"></h3>
        <p th:text="${user.firstName} + ' ' + ${user.familyName}"></p>
        <p th:text="'Email : ' + ${user.email}"></p>
        <p th:text="'Description : ' + ${user.description}"></p>
        <a th:href="@{'/show-user/' + ${user.id}}">Show</a>
    </th:block>
</body>
</html>